---
title: Style Guide
permalink: /style-guide/
excludeFromSitemap: true
# An internal reference page: crawlable, so the noindex is seen, but never listed.
noindex: true
---
{% extends "base.njk" %}
{% block content %}
{% include "style-guide.njk" %}
{% endblock %}
